*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: static;
    background-color: #102E50;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    height: 10vh;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    transition: ease 0.2s;
    color: white;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.377);
}

#container-cadastro-login nav li:hover {
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

#container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 0 30vw;
}

#letreiro {
    text-align: center;
}

#letreiro h1 {
    font-size: 40px;
}

#letreiro p {
    font-size: 20px;
}

#container-cardapio {
    background-color: #102E50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding: 2%;
}

#container-cardapio img {
    max-width: 50vw;
    height: 25vh;
}

#cardapio {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
}

#cardapio li {
    display: flex;
    color: white;
    font-size: 20px;
    margin: 1%;
    justify-content: space-around;
}
