* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: transparent;
    border: solid 2px yellow;
    border-radius: 10px;
    color: yellow;
    width: 10vw;
    padding: 2%;
    font-weight: bold;
    transition: ease 0.2s;
}

button:hover {
    background-color: yellow;
    color: rgb(32, 32, 32);
}

button:active {
    filter: brightness(50%);
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    background-color: rgb(22, 22, 22);
}

form {
    display: flex;
    flex-direction: column;
    transition: ease 1s;
}

form,
#listaContainer {
    background-color: rgb(32, 32, 32);
    border-radius: 30px;
    padding: 2%;
    color: rgb(196, 196, 196);
}

form:hover {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.205);
}

form input {
    background-color: rgb(49, 49, 49);
    border: none;
    color: rgb(196, 196, 196);
    border-radius: 30px;
    padding: 3%;
    width: 100%;
    margin: 1vh 0;
    transition: ease 0.2s;
}

form input:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.185);
}

#listaContainer td {
    padding: 0.5vh 0.5vw;
    font-weight: bold;
    transition: ease 0.2s;
}

tbody tr:nth-child(odd) {
    background-color: rgb(22, 22, 22);
}

.botaoExcluir {
    border-color: red;
    color: red;
}

.botaoExcluir:hover {
    background-color: red;
    color: rgb(32, 32, 32);
}

.botaoEditar {
    border-color: orange;
    color: orange;
}

.botaoEditar:hover {
    background-color: orange;
    color: rgb(32, 32, 32);
}

@media (max-width: 491px) {
    form {
        width: 90vw;
    }

    form h1 {
        display: none;
    }
}

@media (max-width: 1000px) {
    form button {
        width: 100%;
    }
}