* {
    margin: auto;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #4c0053);
}

header {
    width: 95%;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 10vh;
}

body div {
    background: rgb(255, 255, 255);
    width: 70vw;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
}

.titulo {
    margin: 0;
    background: linear-gradient(45deg, #000000, #4c0053);
    width: fit-content;
    border-radius: 10px;
    color: #fff;
    padding: 3px;
}