$paleta-secoes: #004225;
$paleta-secoes-hover: #002c19;
$paleta-background: #F5F5DC;
$paleta-itens: #F5F5DC;
$paleta-extra: #FFCF9D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    background-color: $paleta-secoes;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    border: none;
    background-color: $paleta-itens;
    .campo {
        margin: 1vh 0;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }
    input {
        border: 1px gray solid;
        padding: 1%;
        border-radius: 10px;
        width: 20vw;
    }
    button {
        background-color: $paleta-secoes;
        color: white;
        border: none;
        padding: 2%;
        transition: ease 0.2s;
        &:hover {
            background-color: $paleta-secoes-hover;
        }
    }
}

.btn-group {
    display: flex;
    flex-direction: column;
    button{
        &:first-child {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        &:last-child {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}


